@model WebProjct.Models.Department

@{
    ViewData["Title"] = "Editar Departamento";
}

<h2>Editar Departamento</h2>

<form asp-action="Editar">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Nome</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
